<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="${basedir}/logs/internal-nlog.txt">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}/logs/ConquianServidor-${shortdate}.log" archiveFileName="${basedir}/logs/archives/ConquianServidor-${shortdate}.{#}.log" archiveAboveSize="5242880" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="10" keepFileOpen="false" encoding="utf-8" layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${onexception:inner=${newline}*** ERROR DETAILS ***${newline}${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString,StackTrace}${newline}}" />
			<target name="logconsole" xsi:type="Console" layout="${longdate} | ${uppercase:${level}} | ${message}${onexception:inner=${newline}${exception:format=ToString,StackTrace}}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="logconsole" />
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SimpleTcpBinding">
					<security mode="None" />
				</binding>
			</netTcpBinding>

			<customBinding>
				<binding name="ReliableCustomBinding"
						 receiveTimeout="00:20:00"
						 sendTimeout="00:20:00"
						 openTimeout="00:00:20"
						 closeTimeout="00:00:20">

					<binaryMessageEncoding />

					<reliableSession ordered="true"
									 inactivityTimeout="00:01:30"
									 maxTransferWindowSize="128" />

					<tcpTransport />
				</binding>
			</customBinding>
		</bindings>

		<services>
			<service name="ConquiánServidor.Services.SignUp">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.ISignUp">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/SignUp/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.Login">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.ILogin">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/Login/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.UserProfile">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.IUserProfile">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/UserProfile/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.FriendList">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.IFriendList">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/FriendList/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.Invitation">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.IInvitationService">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/InvitationService/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.PasswordRecovery">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.IPasswordRecovery">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/PasswordRecovery/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.Presence">
				<endpoint address=""
						  binding="customBinding"
						  bindingConfiguration="ReliableCustomBinding"
						  contract="ConquiánServidor.Contracts.ServiceContracts.IPresence">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/Presence/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.GuestInvitation">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="SimpleTcpBinding" contract="ConquiánServidor.Contracts.ServiceContracts.IGuestInvitation">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/GuestInvitation/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.Lobby">
				<endpoint address=""
						  binding="customBinding"
						  bindingConfiguration="ReliableCustomBinding"
						  contract="ConquiánServidor.Contracts.ServiceContracts.ILobby">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/Lobby/" />
					</baseAddresses>
				</host>
			</service>

			<service name="ConquiánServidor.Services.Game">
				<endpoint address=""
						  binding="customBinding"
						  bindingConfiguration="ReliableCustomBinding"
						  contract="ConquiánServidor.Contracts.ServiceContracts.IGame">
					<identity>
						<dns value="192.168.100.77" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.100.77:9001/ConquiánServidor/GameService" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>