<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="${basedir}/logs/internal-nlog.txt">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}/logs/ConquianServidor-${shortdate}.log" archiveFileName="${basedir}/logs/archives/ConquianServidor-${shortdate}.{#}.log" archiveAboveSize="5242880" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="10" keepFileOpen="false" encoding="utf-8" layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${onexception:inner=${newline}*** ERROR DETAILS ***${newline}${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString,StackTrace}${newline}}" />
			<target name="logconsole" xsi:type="Console" layout="${longdate} | ${uppercase:${level}} | ${message}${onexception:inner=${newline}${exception:format=ToString,StackTrace}}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="logconsole" />
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>